<header class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center me-5" href="/">
      <img src='/img/logo.png' alt="Logo" class="img-fluid" style="max-height:80px;" />
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav + Actions -->
    <div class="collapse navbar-collapse fs-6 fw-semibold ms-3" id="mainNavbar">
      <!-- Menu -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>

      <!-- Language + Buttons -->
      <div class="d-flex align-items-center gap-3">
        <a href="#" class="btn btn-warning rounded-pill text-white fw-semibold"><img src="/img/home/phone_call.svg" alt="Call Us" class="me-2" />Call Us</a>
        <a href="#" class="btn btn-outline-warning rounded-pill fw-semibold">Book Now</a>
        <div class="d-flex align-items-center">
          <a href="#" class="link-secondary text-decoration-none me-2">ES</a>
          <span class="text-secondary">|</span>
          <a href="#" class="link-secondary text-decoration-none ms-2">EN</a>
        </div>
      </div>
    </div>
  </div>
</header>